<?php

require_once(__DIR__.'/../../controller/PedidosController.php');

$res = $_POST['res'];
$pri = $_POST['pri'];
$seg = $_POST['seg'];
$pos = $_POST['pos'];

$cnt = new PedidosController();
$cnt->createPedido($res, $pri, $seg, $pos);

?><html>
	<head>
		<title>Pedido creado</title>
	</head>
	<body>
		<div id="wrapper">
			<h1>Tu pedido se ha registrado satisfactoriamente</h1>
		</div>
	</body>
</html>

