<?php

require_once(__DIR__.'/../../controller/SeriesController.php');

$sid = $_GET['serie'];

$cnt = new SeriesController();
$serie = $cnt->getSerie($sid);

?><html>
	<head><title>Add season</title></head>
	<body>
		<div id="wrapper">
			<h1>Add new season to <?=$serie->getTitle()?></h1>
			<form action="/forms/addseason.phtml" method="post">
				<dl>
					<dt><label for="syear">Year</label></dt>
					<dd><input type="number" name="syear" id="syear"></dd>
					<dt><label for="snchap">Num chapters</label></dt>
					<dd><input type="number" name="snchap" id="snchap"></dd>
					<dt><label for="sseason">Season</label></dt>
					<dd><input type="text" name="sseason" id="sseason"></dd>
					<dd>
						<input type="hidden" name="sid" value="<?=$serie->getSid()?>"/>
						<input type="submit" name="submit" value="Add season">
					</dd>
				</dl>
			</form>
		</div>
	</body>
</html>