<?php

require_once(__DIR__.'/../../controller/SeasonsController.php');

$seasonid = $_GET['season'];


$cnt = new SeasonsController();
$season = $cnt->deleteSeason($seasonid);

?><html>
	<head><title>Deleted season</title></head>
	<body>
		<div id="wrapper">
			<h1><?=$season->getSerie()->getTitle()?>(<?=$season->getYear()?>) deleted</h1>
			<?php include(__DIR__.'/../../inc/dseason.phtml'); ?>
		</div>
	</body>
</html>