<?php

require_once(__DIR__.'/../../controller/SeasonsController.php');

$sid = $_GET['season'];


$cnt2 = new SeasonsController();

$season = $cnt2->getSeasonById($sid); 

?><html>
	<head><title>Season detail</title></head>
	<body>
		<div id="wrapper">
			<h1>Details of <?=$season->getSerie()->getTitle()?>(<?=$season->getYear()?>)</h1>
			<?php include(__DIR__.'/../../inc/dseason.phtml'); ?>
		</div>
	</body>
</html>