<?php

require_once(__DIR__.'/../controller/SeriesController.php');
require_once(__DIR__.'/../controller/SeasonsController.php');

$sid = $_GET['s'];


$cnt = new SeriesController();
$cnt2 = new SeasonsController();

$serie = $cnt->getSerie($sid);
$seasons = $cnt2->getSeasonsBySerie($sid); 

?><html>
	<head><title>Serie's detail</title></head>
	<body>
		<div id="wrapper">
			<h1>Details of <?=$serie->getTitle()?></h1>
			<?php include(__DIR__.'/../inc/d.phtml'); ?>
		</div>
	</body>
</html>