<?php

require_once(__DIR__.'/../controller/SeriesController.php');

$cnt = new SeriesController();
$list = $cnt->getSeries();

?><html>
	<head><title>Series list</title></head>
	<body>
		<div id="wrapper">
			<h1>Series List</h1>
			<a href="/add.phtml">Add serie</a>
			<section id="serieslist">
				<?php foreach($list as $serie){ ?>
				<article class="seriedesc">
					<span><?=$serie->getTitle()?></span>
					<span><?=$serie->getYear()?></span>
					<span><?=$serie->getMajor()?></span>
					<span><?=$serie->getNseasons()?></span>
					<span><a href="/details.phtml?s=<?=$serie->getSid()?>">Details</a></span>
					<span><a href="/modify.phtml?s=<?=$serie->getSid()?>">Modify</a></span>
					<span><a href="/delete.phtml?s=<?=$serie->getSid()?>">Delete</a></span>
				</article>
				<?php } ?>
			</section>
		</div>
	</body>
</html>