<?php

require_once(__DIR__.'/../controller/SeriesController.php');

$sid = $_GET['s'];


$cnt = new SeriesController();
$serie = $cnt->getSerie($sid);

?><html>
	<head><title>Serie's update</title></head>
	<body>
		<div id="wrapper">
			<h1>Updating <?=$serie->getTitle()?>...</h1>
			<form action="/forms/modify.phtml" method="post">
				<dl>
					<dt><label for="sname">Title</label></dt>
					<dd><input type="text" name="sname" id="sname" value="<?=$serie->getTitle()?>"/></dd>
					<dt><label for="syear">Year</label></dt>
					<dd><input type="number" name="syear" id="syear" value="<?=$serie->getYear()?>"/></dd>
					<dt><label for="smajor">Major</label></dt>
					<dd><input type="text" name="smajor" id="smajor" value="<?=$serie->getMajor()?>"/></dd>
					<dd>
						<input type="hidden" name="sid" value="<?=$serie->getSid()?>"/>
						<input type="submit" name="submit" value="Add"/>
					</dd>
				</dl>
			</form>
		</div>
	</body>
</html>