<?php

require_once(__DIR__.'/../../controller/SeriesController.php');
require_once(__DIR__.'/../../controller/SeasonsController.php');

$title = $_POST['sname'];
$year = $_POST['syear'];
$major = $_POST['smajor'];

$cnt = new SeriesController();
$serie = $cnt->createSerie($title, $year, $major);

$cnt2 = new SeasonsController();
$seasons = $cnt2->getSeasonsBySerie($serie->getSid()); 

?><html>
	<head><title>Serie's detail</title></head>
	<body>
		<div id="wrapper">
			<h1><?=$serie->getTitle()?> created</h1>
			<?php include(__DIR__.'/../../inc/d.phtml'); ?>
		</div>
	</body>
</html>