<?php

require_once(__DIR__.'/../../controller/SeriesController.php');
require_once(__DIR__.'/../../controller/SeasonsController.php');

$year = $_POST['syear'];
$nchap = $_POST['snchap'];
$seas = $_POST['sseason'];
$seasonid = $_POST['seasonid'];

$cnt2 = new SeasonsController();
$season = $cnt2->updateSeason($year, $nchap, $seas, $seasonid);

?><html>
	<head><title>Season updated</title></head>
	<body>
		<div id="wrapper">
			<h1>Updated <?=$season->getSerie()->getTitle()?>(<?=$season->getYear()?>)</h1>
			<?php include(__DIR__.'/../../inc/dseason.phtml'); ?>
		</div>
	</body>
</html>