				<form action="/form/login.phtml" method="post">
					<dl>
						<dt><label for="formuser">Usuario</label></dt>
						<dd><input type="text" id="formuser" name="user"/></dd>
						<dt><label for="formpwd">Password</label></dt>
						<dd><input type="text" id="formpwd" name="pwd"/></dd>
						<dd><input type="submit" value="Login"/></dd>
					</dl>
				</form>