<?php

require_once(__DIR__.'/../vendor/autoload.php');
require_once(__DIR__.'/../controller/FootballController.php');

$cnt = new FootballController();
$teams = $cnt->getTeams();

?><html>
	<head>
		<title>Football Teams</title>
	</head>
	<body>
		<div id="wrapper">
			<h1>Team list</h1>
			<dl>
				<?php foreach($teams as $t){ ?>
				<dt><?=$t->getName()?></dt>
				<?php } ?>
			</dl>
		</div>
	</body>
</html>